
html {
    height: 100%;
}
body {
    background-image: url("https://www.ecopetit.cat/wpic/mpic/16-168437_wallpaper-books-library-shelves-lighting-library-background-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-delete {
    color: #bb0707 !important;
}

.btn-update {
    color: #337aba !important;
}

h3 {
    font-family: Helvetica Neue;
}

small {
    font-size: 60%;
    color: #999999;
    font-weight: 300;
    line-height: 1;
}

.fa-heart{
  color: red;
}

span {
    font-weight: normal;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 2%;
}

li {
    text-align: center;
    background-color: #999999;
    font-size: 12px;
    width: 34%;
    padding: 1%;
}

.header a {
    color: #FFFFFF !important;
    font-size: 1rem;
}

.btn-primary,.active {
    background: #337aba !important;
}
// a.router-link-exact-active
.container {
    background: white;
    border-radius: 15px;
    text-align: center;
    margin-top: 4%;
}
.pagination  a{
  color: #fff;
}

@media only screen and (max-width: 600px) {

.container {
  width: 94% !important;
}

.main-header{
  padding: 2%;
}
.content{
  padding: 0 4%;
}
.header a {
    font-size: 12px;
}
}
